<%- include("header", {}) %>
    <h1><%= title %></h1>
    <div class="storie">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
        Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
        Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
        a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
        Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
        Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
        a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
            Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
            Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
            a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
                Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
                Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
                a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
                    Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
                    Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
                    a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
                        Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
                        Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
                        a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus ac est lacinia facilisis. Praesent a auctor massa. 
                            Praesent ut enim nibh. Sed consectetur sodales commodo. Vivamus fermentum diam ornare, ultricies turpis et, elementum nunc. 
                            Vestibulum et eros non augue porta ultrices quis id tellus. Donec gravida fringilla nulla. Curabitur hendrerit odio arcu, 
                            a pulvinar nibh fringilla et. Mauris blandit libero ac sem rhoncus feugiat.</p><br>
                    
</div>
<%- include("footer", {}) %>