<%- include("header", {}) %>
<h1><%= title %></h1>
    <div class="register">
        <form method="post" action="/register">
            <label for="name">Nombre</label><br>
            <input type="text" id="name" name="name" placeholder="Introduce tu email"><br>
            <label form="password">Contrase単a</label><br>
            <input type="password" id="password" name="pass" placeholder="Introduce tu contrase単a"><br>
            <label for="confirmPassword">Repite contrase単a</label><br>
            <input type="password" id="confirmPassword" name="conpass" placeholder="Introduce tu contrase単a"><br>
            <button type="submit"> Submit </button>
        </form>
    </div>
<%- include("footer", {}) %>